<app-listado-generico [listado]="peliculas">
  <ng-container contenido>
    <div 
    *ngFor="let pelicula of peliculas; let index = index" 
    class="peliculas-container"
    >
      <div>Pelicula {{index+1}}: {{pelicula.titulo | uppercase}} 
        <button style="margin-left: 1rem;" (click)="remover(index)">Remover</button>
      </div>
      <div>
        {{pelicula.fechaLanzamiento | date: 'shortDate'}}
      </div>
      <div>
        {{pelicula.precio | currency: 'USD' }}
      </div>
    </div>
  </ng-container>
</app-listado-generico>